:root {
  --color-outline: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 300px;
  padding: 0 20px;
  background: #fff;
}

p {
  margin: 20px 0;
}

button {
  width: 100%;
  padding: 20px 10px;
  background: #42ccc0;
  border: 0;
  border-radius: 6px;
  outline: none;

  &:focus-visible {
    box-shadow: 0 0 0 3px var(--color-outline);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

label {
  position: relative;
  z-index: 0;
  display: inline-flex;
  align-items: center;
  min-height: 40px;

  span {
    display: block;
    padding: 0 0 0 92px;

    &::before,
    &::after {
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      content: "";
    }

    &::before {
      left: 44px;
      z-index: 1;
      width: 32px;
      height: 32px;
      background: #f0f3f4;
      border-radius: 50%;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);

      body[data-state="loaded"] & {
        transition: 0.5s left ease-out;
      }
    }

    &::after {
      width: 72px;
      height: 32px;
      background: #42ccc0;
      border-radius: 20px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6) inset, 0 0 0 4px #e1e1e1;

      body[data-state="loaded"] & {
        transition: 0.5s background-color ease-out;
      }
    }
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;

    &:not(:checked) + span {
      &::before {
        left: 4px;
      }

      &::after {
        background-color: #cbd7db;
      }
    }

    &:focus-visible + span::after {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6) inset, 0 0 0 4px #e1e1e1, 0 0 0 6px var(--color-outline);
    }
  }
}
