body {
  margin-inline: auto;
  --button-padding-block: 0.625rem;
}

button {
  line-height: inherit;
}

.focus-current-window-button-wrapper {
  width: fit-content;
  padding: 1.75rem 1.75rem 0;
  margin-left: auto;
}

#report:not(:empty) {
  max-width: 60rem; /* 960px */
  padding: 0 28px;
  margin-block: 2rem;
  margin-inline: auto;
  color: var(--color-label-text);
}

h2 {
  position: sticky;
  top: 0;
  padding: 0.75rem 10px;
  margin-block: 0 12px;
  font-size: 1.5em;
  line-height: 1.2;
  overflow-wrap: anywhere;
  background-color: var(--color-label-bg);
  border-radius: 4px;
}

h2:nth-of-type(1) {
  margin-top: 0;
}

button img {
  width: 1lh;
  height: 1lh;
  display: block;
}

button[aria-disabled='true'] {
  text-decoration-line: line-through;
}

table {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  margin-bottom: 6.75rem;
  overflow-wrap: anywhere;
  padding: 0 2px;
}

thead,
tbody {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

tr {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  line-height: 1rem;
}

th:first-child {
  word-break: keep-all;
}

tbody {
  tr {
    padding: 0.75rem 0 0;
    margin: 0.75rem 0 0;
    border-top: 1px solid var(--color-label-border);
  }

  td {
    &:last-child {
      button {
        padding: var(--button-padding-block);
        font-size: 0.875rem;
      }
    }

    &.title,
    &.last-accessed {
      padding-top: var(--button-padding-block);
    }

    &.last-accessed {
      text-align: right;
    }
  }
}

:where(th, td):not(:first-child) {
  padding-left: 16px;
}

.btn-focus {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  align-items: center;
  padding: var(--button-padding-block) 10px;
}

.status {
  font-weight: bold;
  word-break: break-word;
}

[data-status='already-closed'] .status {
  color: var(--color-danger-title-text);
}

[data-status='closed'] {
  display: none;
}

#empty-message {
  display: none;
}

#report:empty + #empty-message {
  display: grid;
  place-items: center;
  font-size: 200%;
  color: var(--color-label-text);
  text-align: center;
}

#empty-message p {
  display: none;
}

[data-include-all-window='true'] .focus-current-window-button-wrapper {
  display: none;
}

[data-include-all-window='true'] #empty-message .all {
  display: block;
}

[data-include-all-window='true'] #report:empty + #empty-message {
  min-height: calc(100vh - (20px + 0.875rem) * 2);
}

[data-include-all-window='false'] #empty-message .single {
  display: block;
}

[data-include-all-window='false'] #report:empty + #empty-message {
  min-height: calc(100vh - (20px + 0.875rem + 3rem + 1.75rem) * 2);
}
